@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

span.navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-link {
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    padding: 25px 20px 0px;
}


.get-link-block {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    background: transparent !important;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 0 5px #eee;
    height: 80px;
}

ul.top-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

ul.top-nav li {
    margin-left: 40px;
}

ul.top-nav li a {
    color: #555;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    padding: 0 !important;
    position: relative;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
}

ul.top-nav li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    left: 0;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

ul.top-nav li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px;
    border-right: 1px solid #333;
    margin-left: 20px;
}

ul.top-nav li a:hover {
    color: #333333;
}

ul.top-nav li a:hover:after {
    opacity: 1;
    bottom: -5px;
}

ul.top-nav li:last-child a:before {
    border: 0;
}

.Brand-logo img {
    width: 132px;
}


.vertical-middle {
    align-items: center;
    height: calc(100vh - 80px);
}

.get-search {
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 250px;
}

.bar {
    margin:0 auto;
    width:575px;
    position: relative;
    margin-bottom: 15px;
}


h1.title-logo {
   color: #333;
    margin: 0;
    font-size: 34px;
}

span.title-effect {
    color: #333333;
}

.bar .search-icon {
    position: absolute;
    left: 25px;
    transform: translateY(-50%);
    top: 50%;
    color: #888;
}

.searchbar {
    height:45px;
    width: 575px;
    font-size:16px;
    outline: none;
    border-radius: 30px;
    border: 1px solid #eee;
    box-shadow: 0px 1px 10px 0px #eee;
    transition: all 0.2s ease-in-out;
    padding-left: 55px;
}

.searchbar::placeholder {
    color: #a7a7a7;
    font-weight: 300;
}

.buttons {
    margin: 25px 0px 15px;
}

.button {
    background-color: #f5f5f5 !important;
    border: none !important;
    padding: 10px 20px !important;
    margin:5px;
    text-decoration: none !important;
}

.button:hover {
}

.button:focus {
    border:1px solid #4885ed;
    padding: 9px 19px;
}

.get-search p {
    font-size: 14px;
    margin: 0;
    color: #333333;
}


/*beginner page*/

.navigation {
    display: flex;
    align-items: center;
}

.search-block input {
    border: 0;
    width: 100%;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 50px;
    padding-left: 45px;
    font-size: 14px;
}

.search-block {
    position: relative;
    width: 300px;
}

.search-block i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #888;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ccc!important;
    outline: 0;
    box-shadow: 0 0 7px #ccc!important;
}

input::placeholder {
    color: #a7a7a7;
    font-weight: 300;
}

h1.search-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.bnner-bg {
    background-image: url(../img/bg-img.png);
    padding: 40px;
    position: relative;
}

section.bnner-bg:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #eeeeeeed;
    top: 0;
    left: 0;
}

.branded-content h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.branded-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}

/*Acordian css*/

.card-header {
    padding: 0;
    background-color: #f8f9fa;
}

.card-header button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 20px 20px 40px;
    color: #333;
    font-weight: 500;
    text-decoration: none !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.card {
    margin-bottom: 15px;
}

.card>.card-header button:hover {
    color: #333333;
}

.card>.card-header button:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}


.card>.card-header button[aria-expanded="true"] {
    background-color: #eee;
    color: #333333;
}

.card>.card-header button[aria-expanded="true"]:after {
  content: "\f107";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #333333;
}

.card>.card-header button[aria-expanded="false"]:after {
  content: "\f107";
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*Acordian css end*/

.social-propery {
    display: block;
    text-align: right;
}

.social-propery ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px 15px 5px;
}

.social-propery ul li {
    margin-left: 20px;
}

.social-propery ul li a {
    display: flex;
    align-items: center;
    color: #555;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.social-propery ul li a:hover,
.social-propery ul li a:hover i {
    color: #333333;
}


.social-propery ul li a i {
    margin-right: 10px;
    font-size: 16px;
    color: #888;
    transition: all 0.2s ease-in-out;
}

.social-propery ul li a span {
    margin-right: 10px;
    font-size: 14px;
}

.social-propery ul li a p {
    margin: 0px;
    font-size: 14px;
}

.social-propery li.dropdown a:after {
    display: none;
}

.share-inner-block a {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.card-headings {
    position: relative;
}


.vote-update {
    position: absolute;
    left: 15px;
    display: block;
    text-align: center;
    padding: 0 !important;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
}

.vote-update button {
    border: 0;
    background: transparent;
    outline: none !important;
    padding: 0;
}

.vote-update p {
    margin: 8px 0px 4px;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    line-height: 0;
}

.vote-update svg {
    width: 14px;
    transition: all 0.2s ease-in-out;
}

.vote-update svg path {
    transition: all 0.2s ease-in-out;
}

.vote-update button:hover svg g path {
    fill: #333333;
}

.down-vote {
    position: relative;
    top: 1px;
}

/*beginner page*/

/*Login page css*/

.login-block {
    padding: 20px 20px 0px;
    position: relative;
}

.login-block:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    left: 0;
    background: #555;
    box-shadow: 0 10px 20px -10px #ccc;
}

.inner-login-block {
    padding: 50px 50px 30px;
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0 15px 20px -15px #333;
}

.login-block input {
    border-radius: 0;
    font-size: 14px;
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
}

.form-title h2 {
    color: #333333;
    font-size: 24px;
}

.form-title p {
    color: #777;
    font-size: 14px;
}

.login-block label {
    font-size: 14px;
    color: #777;
}

.login-block label span {
    position: relative;
    top: 2px;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #333333 !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 5px 0.1rem #3333333b !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #333333;
    background-color: #333333;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #33333336;
    border-color: #33333324;
}

.btn-block button {
    width: 100%;
}


.theme-btn {
    padding: 10px 20px;
    background: #555;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    font-size: 14px;
    outline: 0 !important;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    border-radius: 3px;
}

.theme-btn:hover {
    color: #fff;
    background: #333;
}


.forgot-block a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.forgot-block {
    padding: 25px 50px;
    background: transparent;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

span.forgot-effect {
    font-weight: 500;
}


/*Login page css end*/


/*Create post Page*/

.create-post-block {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ddd;
}

.create-post-block ul {
    border: 0;
    background: #f8f9fa;
}

.create-post-block ul li {
    margin-right: 1px;
    width: 200px;
    text-align: center;
}

.create-post-block ul li a {
    padding: 10px 30px;
    border-radius: 0 !important;
    position: relative;
    background: #e4e4e4;
    color: #000;
    border: 0 !important;
}

.create-post-block ul li a.active {
    background: #333333 !important;
    color: #fff !important;
    border-color: #333 !important;
}

.create-post-block .corner-radius {
    border-radius: 5px 0px 0px 0px !important;
}

.create-post-block ul li a i {
    margin-right: 10px;
}

.create-post-block .tab-content {
    padding: 20px;
}



.post-btns button {
    margin-left: 15px;
}

.post-btns {
    display: flex;
    justify-content: flex-end;
}

/*upload img field css*/

.uploader {
    display: block;
    width: 100%;
}

.uploader label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ced4da;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: column;
}

.uploader label:hover {
    border-color: #333333;
}

.uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
}

.uploader #start {
}

#start p {
    margin: 15px 0px;
}

.uploader #start.hidden {
    display: none;
}

.uploader #start i.fa {
    font-size: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.uploader #response {
}

.uploader #response.hidden {
    display: none;
}

.uploader #response #messages {
    margin-bottom: 0.5rem;
}

.uploader #file-image {
    display: inline;
    margin: 0 auto 1.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}

.uploader #file-image.hidden {
    display: none;
}

.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

.uploader #notimage.hidden {
    display: none;
}

.uploader progress,
.uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
    background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #454cad));
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}

.uploader input[type="file"] {
    display: none;
}

.uploader div {
}

.uploader .btn {
}

/*ck aditor setup css*/

.description-block {
    margin-bottom: 15px;
}

.description-block video {
    width: 100%;
    height: 450px;
    background: #000;
}

.description-block img,
.description-block video {
    max-width: 100%;
}

.description-block img,
.description-block video {
    margin: auto;
    display: block;
}

.description-block ul li,
.description-block ol li {
    margin-bottom: 10px;
    margin-left: 18px;
}



.comment-block {
    border-bottom: 1px #eee dashed;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-left: 40px;
    position: relative;
}


.comment-block-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

h5.comment-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0;
    margin-right: 10px;
}

h6.comment-timing,
.comments-points {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}

.inner-vote-update {
    position: absolute;
    left: -25px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    border: 0;
    top: 0;
    justify-content: center;
    flex-direction: column;
}

.inner-vote-update button {
    border: 0;
    background: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.inner-vote-update svg {
    width: 14px;
    transition: all 0.2s ease-in-out;
}


.inner-vote-update svg path {
    transition: all 0.2s ease-in-out;
}

.inner-vote-update button:hover svg g path {
    fill: #333333;
}
/*ck aditor setup css*/

/*Create post Page*/


/*no result found*/

.no-result-found {
    border: 0;
}


.no-result {
    text-align: center;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 20px 20px -15px #ccc;
    padding: 40px;
    flex-direction: column;
    flex-direction: column;
    background: #f8f9fa;
    border: 1px solid #efefef;
}

.card.no-result-found h3 {
    text-transform: capitalize;
    font-weight: 600;
    margin: 20px 0px;
}

.no-found-btn {
    border-radius: 3px;
    margin-bottom: 20px;
}

/*no result found*/


.create-comment-submit-btn {
    margin: 15px 0px;
    display: flex;
    justify-content: flex-end;
}

.create-comment {
    margin-bottom: 20px;
}

/*Glossary page css*/

a.new-key-btn, .submit-black-btn {
    padding: 10px 20px;
    background: #333 !important;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.keywords-header {
    padding: 10px 18px;
    background: #f5f5f5;
}

.keywords-header button {
    outline: none;
}

.modal-header.keywords-header h4 {
    font-size: 18px;
}

.keyword-input {
    display: flex;
    position: relative;
}

.keyword-input input {
    border-radius: 0;
    height: 38px;
}

input.keywords-btn {
    position: absolute;
    right: 0;
    border: 1px solid #333333;
    height: 38px;
    padding: 0px 20px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.keyword-block ul {
    /*display: flex;*/
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.keyword-block li.inlinedisplay{
    display: inline-block;
}
.keyword-block li.displayblock{
    display: block;
}

.keyword-block ul li {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.keyword-block ul li a {
    display: block;
    text-align: center;
    background: #f8f9fa;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    border: 1px solid #eee;
}

.keyword-block ul li a:hover {
    box-shadow: 0 5px 10px -7px #ccc;
}


/*Animate-checkbox*/


.animate-checkbox {
    display: block;
    margin-top: 15px;
    overflow: hidden;
}

._checkbox {
    display: none;
}

.creative-chech-label {
    position: relative;
    display: block;
    cursor: pointer;
    width: max-content;
}

.check {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.check:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    background-color: #fff;
}


._checkbox:checked + label #tick_mark:before,
._checkbox:checked + label #tick_mark:after {
    transform: translate(2px, -4px);
    opacity: 1;
    z-index: 9;
}

._checkbox:checked + label .check:before {
    width: 0px;
    height: 0px;
    background: #07d410;
    transform: translate(-50%, -50%)scale(0.9);
}

._checkbox:checked + .creative-chech-label .check {
    background: #333;
}

.creative-chech-label:hover .check:before {
    transform: translate(-50%, -50%) scale(0.9);
    top: 50%;
    left: 50%;
}

.creative-chech-label:active .check:before {
    transform: scale(0.8);
}

.creative-chech-label:active .check {
    transform: translateY(-50%)scale(0.9);
}

.creative-chech-label:active .check:before {
    transform: translate(-50%, -50%) scale(0.9);
    top: 50%;
    left: 50%;
}

#tick_mark {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0.5%;
    width: 14px;
    height: 8px;
    margin: 0 auto;
    margin-left: 14px;
    transform: translate(-50%, -50%) rotateZ(-40deg);
    z-index: 9;
}

#tick_mark:before, #tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 9;
}

#tick_mark:before {
    left: -2px;
    bottom: 0;
    width: 2px;
    height: 7px;
    margin: 0 0 0;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px);
}

#tick_mark:after {
    left: 0;
    bottom: 0;
    width: 9px;
    height: 2px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.23);
    transform: translateX(78px);
}

.check-details p {
    padding-left: 35px;
}

/*Animate-checkbox*/

.keyword-block ul h5:after {
    content: '';
    position: absolute;
    width: 3%;
    top: 50%;
    left: 0;
    border-bottom: 1px dashed #ccc;
    z-index: -1;
    margin-left: 40px;
}

.keyword-block ul h5 {
    position: relative;
}

a.alphabet {
    text-decoration: none;
    padding: 15px;
    background: #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

ul.a2z-block {
    display: flex;
    list-style-type: none;
}

.keywords-alphabets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 3px;
    border: 1px solid #eee;
}

ul.a2z-block li a {
    padding: 10px;
    font-size: 14px;
    background: #555;
    width: 26px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

ul.a2z-block li a:hover {
    background: #333;
}

ul.a2z-block li {
    margin-right: 8px;
}
/*Glossary page css*/


/*forum page css*/

.form-post-block {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #eee;
}

.forum-QA-block {
    padding: 15px;
    padding-left: 45px;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.forum-QA-block .vote-update {
    top: 15px;
    transform: translateY(0);
}

/*forum page css*/


/*myprofile page css*/

.myprofile-list table th {
    border-bottom: 0;
}

.myprofile-list table thead {
    background: #f8f9fa;
}


.about-description {
    padding: 20px;
    background: #f8f9fa;
    border: 1px solid #eee;
    box-shadow: 0px 5px 10px -8px #ccc;
    border-radius: 5px;
}